{% from "defra-creditsales-form.njk" import creditSalesForm %}

{% extends 'layout.html' %}

{% set pageHeading = "Upload developer Biodiversity Metric 3.0 calculations" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      <p class="gem-c-lead-paragraph">This should include the onsite and off-site calculations which were submitted, as part of the planning application you have been viewing for the developer.</p>
      {% call creditSalesForm({
        action: "upload-file",
        name: "upload-file-form",
        id: "upload-file´",
        type: 'multiplart'
      }) -%}
      <span class="govuk-caption-l">XSLM or XLSX, max size 50MB</span>
      <div class="govuk-form-group">
        {{ govukFileUpload({
          id: "file",
          name: "file"
        }) }}
        {{ govukButton({
          text: "Continue",
          type: "submit",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
        }) }}
      </div>
      {%- endcall %}
    </div>
  </div>
{% endblock %}
